.nav-item .nav-link.git:hover svg{fill:#f05033}.nav-item .nav-link.linkedin:hover svg{fill:#007bb6}.nav-item .nav-link.twitter:hover svg{fill:#2caae1}.nav-item .nav-link.mail:hover svg{fill:#b83324}.bg-darker{background-color:#161625}.font-weight-semibold{font-weight:500}.form-control{background-color:transparent!important}.form-control:focus{-webkit-box-shadow:none!important;box-shadow:none!important}.progress{height:1.6rem!important;border-radius:1.6rem;margin-bottom:12px;background-color:#343a40}.progress .progress-bar{background-color:#1b1e21;text-align:left;padding-left:25px;color:#ccc;cursor:pointer;-webkit-transition:padding-left .2s ease-in-out;-o-transition:padding-left .2s ease-in-out;transition:padding-left .2s ease-in-out}.progress .progress-bar:hover{padding-left:35px;-webkit-transition:padding-left .2s ease-in-out;-o-transition:padding-left .2s ease-in-out;transition:padding-left .2s ease-in-out}.slide-down{-webkit-animation:slide-in .3s ease-out forwards;animation:slide-in .3s ease-out forwards}@-webkit-keyframes slide-in{from{opacity:0;-webkit-transform:translateY(-40px);-ms-transform:translateY(-40px);transform:translateY(-40px)}to{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}@keyframes slide-in{from{opacity:0;-webkit-transform:translateY(-40px);-ms-transform:translateY(-40px);transform:translateY(-40px)}to{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}
body{
	min-height: calc(100vh + 20px);
}
.form-control.search{
	padding: 30px 30px 30px 60px;
	box-shadow: 0 1px 15px rgba(0,0,0,.15)
}
.search__container:after{
	content: "";
	position: absolute;
	width: 60px;
	height: 60px;
	top:0;
	left: 15px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSIjNjA2NzcxIj48cGF0aCBkPSJNMTYuMzIgMTQuOWw1LjM5IDUuNGExIDEgMCAwIDEtMS40MiAxLjRsLTUuMzgtNS4zOGE4IDggMCAxIDEgMS40MS0xLjQxek0xMCAxNmE2IDYgMCAxIDAgMC0xMiA2IDYgMCAwIDAgMCAxMnoiLz48L3N2Zz4=");
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center;
	z-index: 1;
}
.cvd__tbl{
	border-spacing: 2px;
}
.cvd__tbl thead>tr>th:first-child{
	text-align: left;
}
.cvd__tbl thead>tr>th{
	background-color: #1e1e30;
	text-align: right;
}
.cvd__tbl tbody>tr>td.evel{
	background-color: #1c1c2b;
}
.cvd__tbl tbody>tr>td>span{
	display: block;
}
.cvd__tbl thead>tr>th, .cvd__tbl tbody>tr>td{
	color: #6c757d;
	font-size: 14px;
	padding: .25rem .5rem;
	border: 4px solid #161625;
	border-radius: 10px;
	transition: background-color .4s ease;
}
.cvd__tbl tbody>tr:hover td{
	cursor: pointer;
	background-color: rgba(108,117,125,.12549);
	transition: background-color .4s ease;
}
.bg-danger-tr{
	background-color: rgba(255,7,58,.12549);
}
.bg-primary-tr{
	background-color: rgba(0,123,255,.0627451);
}
.bg-success-tr{
	background-color: rgba(40,167,69,.12549);
}
.bg-secondary-tr{
	background-color: rgba(108,117,125,.0627451);
}
.text-danger-tr{
	color: rgba(255, 7, 58, 0.32);
}
.cdv__stats{
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBmaWxsPSJyZ2JhKDAsIDAsIDAsIDAuMjYpIiBjbGFzcz0iaGVyb2ljb24tdWkiIGQ9Ik02IDJoOWExIDEgMCAwIDEgLjcuM2w0IDRhMSAxIDAgMCAxIC4zLjd2MTNhMiAyIDAgMCAxLTIgMkg2YTIgMiAwIDAgMS0yLTJWNGMwLTEuMS45LTIgMi0yem05IDIuNDFWN2gyLjU5TDE1IDQuNDF6TTE4IDloLTNhMiAyIDAgMCAxLTItMlY0SDZ2MTZoMTJWOXptLTUgNGgyYTEgMSAwIDAgMSAwIDJoLTJ2MmExIDEgMCAwIDEtMiAwdi0ySDlhMSAxIDAgMCAxIDAtMmgydi0yYTEgMSAwIDAgMSAyIDB2MnoiLz48L3N2Zz4=');
	background-repeat: no-repeat;
	background-blend-mode: lighten;
	background-position: center right;
	background-size: 80px;
	transition: background-size .4s ease-in-out;
}
.cdv__stats.recovered{
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBmaWxsPSJyZ2JhKDAsIDAsIDAsIDAuMjYpIiBjbGFzcz0iaGVyb2ljb24tdWkiIGQ9Ik05IDEyQTUgNSAwIDEgMSA5IDJhNSA1IDAgMCAxIDAgMTB6bTAtMmEzIDMgMCAxIDAgMC02IDMgMyAwIDAgMCAwIDZ6bTggMTFhMSAxIDAgMCAxLTIgMHYtMmEzIDMgMCAwIDAtMy0zSDdhMyAzIDAgMCAwLTMgM3YyYTEgMSAwIDAgMS0yIDB2LTJhNSA1IDAgMCAxIDUtNWg1YTUgNSAwIDAgMSA1IDV2MnptLTEuMy0xMC43bDEuMyAxLjI5IDMuMy0zLjNhMSAxIDAgMCAxIDEuNCAxLjQybC00IDRhMSAxIDAgMCAxLTEuNCAwbC0yLTJhMSAxIDAgMCAxIDEuNC0xLjQyeiIvPjwvc3ZnPg==');
}
.cdv__stats.deceased{
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBmaWxsPSJyZ2JhKDAsIDAsIDAsIDAuMjYpIiBjbGFzcz0iaGVyb2ljb24tdWkiIGQ9Ik05IDEyQTUgNSAwIDEgMSA5IDJhNSA1IDAgMCAxIDAgMTB6bTAtMmEzIDMgMCAxIDAgMC02IDMgMyAwIDAgMCAwIDZ6bTggMTFhMSAxIDAgMCAxLTIgMHYtMmEzIDMgMCAwIDAtMy0zSDdhMyAzIDAgMCAwLTMgM3YyYTEgMSAwIDAgMS0yIDB2LTJhNSA1IDAgMCAxIDUtNWg1YTUgNSAwIDAgMSA1IDV2MnptNS0xMGExIDEgMCAwIDEtMSAxaC02YTEgMSAwIDAgMSAwLTJoNmExIDEgMCAwIDEgMSAxeiIvPjwvc3ZnPg==');
}
.cdv__stats.active{
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBmaWxsPSJyZ2JhKDAsIDAsIDAsIDAuMjYpIiBjbGFzcz0iaGVyb2ljb24tdWkiIGQ9Ik0xOSAxMGgyYTEgMSAwIDAgMSAwIDJoLTJ2MmExIDEgMCAwIDEtMiAwdi0yaC0yYTEgMSAwIDAgMSAwLTJoMlY4YTEgMSAwIDAgMSAyIDB2MnpNOSAxMkE1IDUgMCAxIDEgOSAyYTUgNSAwIDAgMSAwIDEwem0wLTJhMyAzIDAgMSAwIDAtNiAzIDMgMCAwIDAgMCA2em04IDExYTEgMSAwIDAgMS0yIDB2LTJhMyAzIDAgMCAwLTMtM0g3YTMgMyAwIDAgMC0zIDN2MmExIDEgMCAwIDEtMiAwdi0yYTUgNSAwIDAgMSA1LTVoNWE1IDUgMCAwIDEgNSA1djJ6Ii8+PC9zdmc+');
}
